<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ltd.newbee.mall.dao.RecommendGoodsMapper">
 
<resultMap id="RecommendGoodsResultMap" type="ltd.newbee.mall.entity.RecommendGoods">
        <id column="goods_id"  property="goodsId"/>
        <result column="rank"  property="rank"/>
        <result column="goods_name"  property="goodsName"/>
        <result column="goods_intro"  property="goodsIntro"/>
        <result column="production_date"  property="productionDate"/>    
        </resultMap>
       
<select id="findRecommendGoodsList" parameterType="Map" resultMap="RecommendGoodsResultMap">
  SELECT 
  tb_newbee_mall_goods_info.goods_id, tb_newbee_mall_goods_info.goods_name,recommend_goods.production_date,recommend_goods.rank,
  (FORMAT(tb_newbee_mall_goods_info.selling_price * 1.1, 0))AS goods_price_tax_included,
  tb_newbee_mall_goods_info.stock_num
  FROM recommend_goods
  JOIN tb_newbee_mall_goods_info
    ON recommend_goods.goods_id = tb_newbee_mall_goods_info.goods_id
  <where>
    <if test="type != null and type != ''">
      recommend_goods.type = #{type}
      <if test="orderBy!=null and orderBy!=''">
      <choose>
      <when test="orderBy == 'priceAsc'">
      ORDER BY  CAST(REPLACE(goods_price_tax_included, ',', '') AS UNSIGNED) ASC
    </when>
    <when test="orderBy == 'priceDesc'">
      ORDER BY  CAST(REPLACE(goods_price_tax_included, ',', '') AS UNSIGNED) DESC
    </when>
    <when test="orderBy == 'DateDesc'">
      ORDER BY recommend_goods.production_date DESC
    </when>
    <when test="orderBy == 'DateAsc'">
      ORDER BY recommend_goods.production_date ASC
    </when>
    <otherwise>
      ORDER BY recommend_goods.rank ASC
    </otherwise>
    </choose>
   </if>
  <if test="limit != null">
    LIMIT #{limit}
  </if>
  </if>
  </where>
</select>

    </mapper>